/*===========================================================*Common*==============================================*/



@keyframes shadow-pulse
{
    90% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }
}




/*===========================================================UseFulls=======================================================================*/
.pointer {
    cursor: pointer!important;
}
.my-margin {
    margin-left: -5px;
    margin-right: -5px;
}
.norma-line-height {
    line-height: normal;
}
.register-position {
    position: absolute;
    left: 5px;
    margin-top: 10px;
    margin-left: 10px;
}


.min-height-70 {
    min-height: 70vh;
}

/*===========================================================Colors=======================================================================*/

.text-green {
    color: #2ebf50;
}

.my-black-color {
    color: #242424!important;
}


.insta-color {
    color: #bc2a8d;
}
.telegram-color {
    color: #0088cc;
}

.gmail-color {
    color: #d44638;
}

.star-color {
    color: #FFD700;
}
.no-item-color {
    color: #c0c0c0;
}

.pay-color {
    color: rgb(147, 146, 146) !important;
}
.text-wating {
    color: #38bce2;
}
.text-blue {
    color: #0caae2;
}
.brand-color {
    color: #eb2f2a;
}
.special-color {
    color: #eb2f2a;
    background: #fff!important;
}


/*===========================================================Fonts-Sizes=======================================================================*/
.text-ultralight {
    font-weight: 200;
}
.text-light-font {
    font-weight: 300;
}
.text-regular {
    font-weight: normal;
}
.text-medium {
    font-weight: 500;
}
.text-bold {
    font-weight: bold;
}
.text-black {
    font-weight: 900;
}
.brand-textsize {
    font-size: calc(18px + 0.5vw)!important;
}
.des-textisze {
    font-size: 13px;
    color: #242424;
}


/*===========================================================header_sizes=======================================================================*/
.my-h1 {
    font-weight:bold;
    font-size: calc(18px + 0.75vw)!important;
}

.main-h1 {
    font-weight: bold;
    font-size: calc(16px + 0.30vw)!important;
    color: #eb1515;
    border: #c01b27 1px dashed;
    border-radius: 20px;
    padding: 7px 0;
}


.myh1 {
    font-size: 3.0vh;
}

.myh2 {
    font-size: calc(14px + 0.55vw)!important;
}

.myh3 {
    font-size: calc(15px + 0.48vw)!important;
}

.myh4 {
    font-size: calc(15px + 0.35vw)!important;
}

.index-h1 {
    font-weight:bold;
    font-size: calc(17px + 0.79vw)!important;
}

/*===========================================================back-grounds=======================================================================*/
.my_card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 3px 3px rgba(0,0,0,0.12),
    0 6px 6px rgba(0,0,0,0.12),
    0 9px 9px rgba(0,0,0,0.12);
}

.bg-hr {
    background: rgba(86, 86, 86, 0.25);
}

.bg-noitem {
    background: rgb(240, 240, 243);
}

.my-gray {
    background: #e7e7f1;
}

.des-back {
    background: rgba(227, 225, 233, 0.42);
}


.brand-background {
    background: #eb2f2a;
}

.bg_new_page{
    padding:4px 12px;
    border-radius: 25px;
    color: white!important;
    font-weight: 500;
    font-size: 16px;
    animation: shadow-pulse 5s infinite;
}
.bg-banner {
    background: #1e90ff;
    padding:7px 30px;
    border-radius: 25px;
    color: white!important;
}
.bg-save {
    background: #2ebf50;
    padding:7px 30px;
    border-radius: 25px;
    color: white!important;
}

.bg-save-disable {
    background: #d5d8da;
    padding:7px 30px;
    border-radius: 25px;
    color: #807f7c !important;
}

/*===========================================================border=======================================================================*/

.dashed-border {
    border: #b9b9b9 1px dashed;
    background: #ededed;
}

/*===========================================================back-grounds=======================================================================*/
.jst-hours {
    display: inline-block;
}
.jst-minutes {
    display: inline-block;
}
.jst-seconds{
    display: inline-block;
}
/*===========================================================zIndex=======================================================================*/
.z-inde-2 {
    z-index: 2;
}

.myltr {
    direction: ltr;
}
.modal-backdrop.show {
    opacity: 0.6;
}