﻿@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
    font-family: IRANSans !important;
    font-weight: 300;
    background: #fff;
    margin: 0;
}

:root {
    --social_color: #0097e6;
}


.h_iframe-aparat_embed_frame {
    position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


textarea:hover,
input[type=text]:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    background-color: transparent;
    box-shadow: none !important;
}



.form-control:focus {
    color: #495057;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}


input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*==========================================Bootstrap 2.4 grid ========================================*/
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/*==========================================Bootstrap 2.4 grid ========================================*/



button:focus {
    outline: none;
}

a, li {
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease-in-out;
    padding: 0px;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.rtl {
    direction: rtl;
}


.hr-bg {
    background: rgba(214, 222, 228, 0.42);
}

.section_title {
    color: #242424;
    font-size: calc(14px + 0.3vw) !important;
    font-weight: bold;
}




.my_background {
    background: #e2e2e2;
}

.text-gray {
    color: #B2B2B2 !important;
}

.myspinner {
    width: 23px;
    height: 23px;
    color: #27ae60;
}

.fit-cover {
    object-fit: cover;
}


.w-20 {
    width: 23%;
}


.small-font {
    font-size: small!important;
}



#banner-owl .item_banner img {
    display: block;
    max-width: 100%;
    height: 400px;
    border-radius: 15px;
}



@media screen and (min-width: 0px) {
    #banner-owl .item_banner img {
        height: 150px;
    }
}

@media screen and (min-width: 300px) {
    #banner-owl .item_banner img {
        height: 200px;
    }
}

@media screen and (min-width: 600px) {
    #banner-owl .item_banner img {
        height: 250px;
    }
}

@media screen and (min-width: 900px) {
    #banner-owl .item_banner img {
        height: 390px;
        border-radius: 7px;
    }
}

#banner-owl .item_banner span {
    color: black;
    text-align: center;
}

@media screen and (min-width: 900px) {
    #banner-owl .item_banner span {
        font-size: 20px;

    }
}

.category:hover {
    background: rgba(186, 186, 192, 0.75);
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}


.owl-carousel {
    position: relative;
}

.owl-next, .owl-prev {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.owl-next {
    left: 11px;
    display: flex;
}

.owl-prev {
    right: 11px;
    display: flex;
}

.navigation {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(135, 145, 149, 0.69);
    color: white;
    font-weight: bold;
    border-radius: 25px;
    font-size: 20px !important;
}

.navigation:hover {
    background: rgba(135, 145, 149, 0.91);
}


.category a {
    color: #414042;
}

.category:hover.category a {
    color: white;
}



.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    outline: none;
}

#navbardrop:hover {
    cursor: pointer;
}


.search-from {
    border-radius: 25px;
}

.search_input {
    min-width: 230px;
}

.slider {
    border-radius: 25px;
}


/*@supports (display: grid) {*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "title title footer" "main main main";
}

@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr auto 1fr;
        grid-template-areas: "header" "title" "main" "footer";
    }
}

.grid-item {
    color: #fff;
    background: rgba(135, 206, 235, 0);
    font-size: 1em;
    font-weight: 700;

}


.main {
    position: relative;
    color: #951713;
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.list-top a {
    color: white;
    background: #626262;
    padding: 0px 10px;
    border-radius: 4px;
}

.list-top a:hover {
    background: rgba(166, 165, 172, 0.43);
    color: #242424;

}


.main::-webkit-scrollbar {
    display: none;

}

.special_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px !important;
    height: 50px;
}

@media screen and (max-width: 425px) {
    .special_img {
        width: 35px !important;
        height: 35px;

    }
}


.item {
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 222px;
    overflow: hidden;
    position: relative;
    line-height: 19px;
    width: 100% !important;
    box-shadow: 0 2px 2px 1px rgba(34,0,51,.04),
    0 2px 2px 1px rgba(7,48,114,.12),
    0 1px 2px -4px rgba(14,13,26,.12);
}



.item > div > span {
    color: #768186;
    font-size: 12px;
    font-weight: normal;
    margin-right: 2px;
}

.item:hover {
    box-shadow: 0px 0px 5px #cc152e;
}


.item-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 118px;
}



.item-title {
    font-size: small;
    color: #242424;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-right: 2px;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical


}

.item-title:hover {
    color: #d61e4e;
    text-decoration: none;
}



.item-member {
    background: rgba(204, 204, 216, 0.11);
    color: #0EA960;
    position: absolute;
    text-align: center;
    padding: 4px 12px;
    bottom: 0px;
    left: 0;
    font-family: Arial;
    right: 0;
    font-weight: bold;

}
.item-member > span {
    font-family: IRANSans;
    color: rgba(0, 0, 0, 0.75);
}





.footer-container {
    padding: 40px 0;
}

.footer {
    color: #1E0000;
    background-color: #f4f6f8;

}


.myclose {
    font-size: 1.5rem;
    line-height: 1;
    border: none;
    background: transparent;
    color: #242424;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.myclose:focus {
    outline: none;
}




.dropdown:hover > .dropdown-menu {
   display: block;
}


.dropdown-item:hover {
    color: white;
!important;
}

/* /////////////////////////////////////////////////////////////m/index.php \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/



.socials-top {
    overflow-x: auto;
    white-space: nowrap;
}
.socials-top::-webkit-scrollbar {    display: none;}

.socials-top a {
    margin: 3px 3px;
}

.social-active {
    background: var(--social_color);
    text-align: center;
    color: white!important;
    border-radius: 6px;
    padding-left: 6px;
    font-weight: normal;
    height: 35px;
}

.social-inactive {
    text-align: center;
    color: #676767;
    border-radius: 4px;
    border: 1px solid #878787;
    height: 35px;
    padding-left: 6px;
}
.social-inactive:hover {
    background: var(--social_color);
    color: white;
}


.social_icon {
    width: 32px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 2px;
    background: #f2f2f2;
    padding-top: 4px;
    padding-left: 4px;


}


/* /////////////////////////////////////////////////////////////social/index.php \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.header {
    height: 60px;
    margin: 0px;
    position: sticky;
    top: 54px;
    color: #242424;
    z-index: 2;
    background-image: linear-gradient(0deg, rgba(239, 240, 241, 0.66),#d9dadb);
    vertical-align: center;
}

.enter_page {
    height: 48px;
    background: #27ae60;
    border-radius: 4px;
    color: white!important;
}
.enter_page > a {
    color: white;
}

.enter_page > a:hover{
    background: #20bf6b;
    border-radius: 4px;
    color: white!important;

}
.close_dialog {
    border: 1px solid #ea3030;
    color: #ea3030;
    height: 48px;
}

.share_page {
    height: 48px;
    border: 1px solid #16a085;
    color:#16a085!important;
    border-radius: 4px;
    cursor: pointer;
}
.share_page:hover {
    border: 1px solid #1b1c1b;
    color: #282727 !important;
}



.enter_page > span {
    border-right: white 2px solid;
    color: #353535;
    background: #f3f3f1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}


.info {
    color: #242424;
}
#star-div:hover {
    background: #f2f1b8;
    cursor: pointer;
}

.rate-base-layer
{
    color: #cecece;
}
.rate-hover-layer
{
    color: #ffb63b;
}

.rate-select-layer {
    color: #ffb63b;

}
.rating-bar {
    font-size: 30px;
}





.img-page {
    width: 100%;
    height: 375px;

}


@media screen and (max-width: 991px) {
    .img-page {
        height: 340px;

    }
}

@media screen and (max-width: 768px) {
    .img-page {
        height: 310px;

    }
}

@media screen and (max-width: 576px) {
    .img-page {
        height: 290px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 4px;

    }
}

@media screen and (max-width: 380px) {
    .img-page {
        height: 260px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 3px;
    }
}

@media screen and (max-width: 380px) {
    .img-com {
        width: 40px;
        height: 40px;
    }
}



ul.tabs li {
    color: #bdbdbd ;
    border-radius: 2px;
    display: inline-block;
    padding: 13px 0px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-bottom: #e2e5e5 2px solid;

    /*		border-left: 1px rgba(207, 207, 207, 0.91) solid;*/
}
ul.tabs li:hover {
    color: #242424;
    font-weight: bold;
}

ul.tabs li.current {
    border-bottom: #b71540  2px solid;
    color: #b71540 ;
    font-weight: bold;
}

.tab-content {
    display: none;
    text-align: justify;
    line-height: 35px;
    margin-top: 20px;
}

.tab-content.current {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.parent-comment img {
    border-radius: 50%;
}

.comment div {
    background: #dfdfdf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.load-more {
    background: rgba(221, 168, 177, 0.36);
    color: #3c0a0e;
    border-radius: 25px;
    padding: 6px 20px;
    font-weight: bold;
    cursor: pointer;
}

.replay div {
    background: #0984e3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    color: white;
    min-height: 50px;

}
.img-screen {
    height: 300px;

}
.video {
    display: block;
    padding-top: 57%
}
.comment-footer {
    border-left:
            1px solid #676767 ;
    height: 40px
}


.login_register i {
    font-size: calc(14px + 0.50vw)!important;
}

.login_register input {
    outline: 0;
    font-size: small;
    border-width: 0 0 1px;
    border-color: gray;
    border-radius: 0;
}

.login_register input:focus {
    border-color: blue;
    border-width: 0 0 2px;
}

.login_register p {
    font-size: small;
}

.login_register .btn_login {
    height: 44px;
    background: #2ecc71;
    color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: none;
}

#login_error {
    display: none;
}

.login_footer {
    font-size: small;
}

.login_footer span:nth-child(2) {
    color: #00C851;
    font-size: medium;
}

.btn_login span {
    width: 25px;
    height: 25px;
    display: none;
}

.comment_btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.login_main .btn_login:hover {
    background: #27ae60;
}


.login_header {
    -webkit-box-shadow: 1px 2px 6px -1px rgba(153, 145, 153, 1);
    -moz-box-shadow: 1px 2px 6px -1px rgba(153, 145, 153, 1);
    box-shadow: 1px 2px 6px -1px rgba(153, 145, 153, 1);
    height: 60px;
}

.bg_tag {
    background: #d4d5da;
    color: #242424;
    border-radius: 25px;
    padding: 4px 15px;

}

.bg_tags {
    background: rgba(227, 133, 140, 0.31);
    color: rgba(221, 41, 31, 0.95);
    border-radius: 25px;
    padding: 4px 15px;

}




.login_footer span:nth-child(2) {
    cursor: pointer;
}

#register_error {
    display: none;
}



/*          /////////////////////////            List Style                \\\\\\\\\\\\\\\\\\\\\\*/
.list_item a:hover {
    color: red;
}

.list_a {
    background: #00695c;
    height: 38px;
    color: white;
    border-radius: 25px;
    padding: 0px 12px;
    text-align: left;
    vertical-align: middle;
}

.comment-body a:hover {
    cursor: pointer;
}
.next-page {
   background: rgba(106, 242, 77, 0.36);
    border-radius: 20px;
    color: #0EA960!important;
    padding: 7px 12px;
}
.next-page:hover{
    background: rgba(242, 168, 176, 0.37);
    color: rgba(228, 57, 92, 0.84) !important;
}


/*===========================================================*new*==============================================*/

.new-root {
    background: linear-gradient(-135deg, #870000, #29323c);
}

.trash-bg {
    padding: 4px;
    border-radius: 4px ;
    background: rgba(114,114,114,0.75)
}

#sosials_center {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pic_row span {
    font-size: 18px;
}

.pic_row img {
    max-width: 100%;
    height: 300px
}

.rounded_container {
    width: 85%;
    height: 85%;
    background: #ffffff;
    border-radius: 10px;
    overflow: auto
}

.register-col {
    padding-left: 7%;
    padding-right: 7%;
}

.register input {
    padding: 20px 5px;
}


/*	.socials_list_container {
        border-radius: 8px;
        width: 95%;
        background: #ffffff;

    }*/
.socials_item_inactive {
    border-radius: 25px;
    background: #e6e6e6;
    color:#B2B2B2 ;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    height: 52px;


}

.socials_item_active {
    border-radius: 25px;
    height: 52px;
    background: #57b846;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.socials_item_inactive:hover {
    border-color: #57b846;
}

.btn_next_deactive {
    border-width: 0;
    background: #dee0e2;
    color: #4e555b;
    width: 75%;
    height: 52px;
    border-radius: 25px;

}

.btn_next_active {
    border-width: 0;
    height: 52px;
    background: #23b809;
    color: #fff;
    width: 75%;
    border-radius: 29px;
    padding-top: 1px;
    padding-bottom: 1px;
}


.btn_next_active:hover {
    background: rgba(0, 120, 19, 0.77);
}


.wrap-input100 {
    position: relative;
    /*	width: 75%;*/
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out backwards;
    animation: anim-shadow 0.5s ease-in-out backwards;
    border: rgba(174, 166, 173, 0.5) 0.5px solid;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left: 28px;
}

.new_error {

    color: #ff050c;
    /*width: 75%;*/

}

@media (max-width: 768px) {
    .pic_row {
        display: none !important;
    }

    .rounded_container {
        width: 96%;
        height: 96%;
    }

}

.sumbit_form input {
    font-size: 12px;
}

/*.sumbit_form input:focus {
	border-color: blue;
	border-width: 0 0 2px;
}*/

.sumbit_form button {
    color: #666666;
    padding: 6px 0px;
    background: transparent;
    border: 1px solid #717171;
    border-radius: 4px;
    outline: none;
}

.sumbit_form button:hover {
    outline: none;
    border: 1px solid black;
}



.image-upload > input {
    display: none;
}

.image-upload > img:hover {
    cursor: pointer;
}

.page_info span {
    background: #ededed;
    color: #303030;
    border-radius: 2px;
    border: 1px #cacaca solid;
    padding: 12px 3px;
}

.tags-ul {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #ededed;
    max-height: 185px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.tags-ul li:hover {
    background-color: #7f8c8d;
    color: white;
    cursor: pointer;
}

.li-tag-selected {
    background-color: #03b01c;
    color: white;
}

.tags-div span {
    background: #95a5a6;
    margin: 5px 3px;
    padding: 4px 10px 4px 4px;
    color: white;
    border-radius: 12px;
    position: relative;
}

.tags-div span:hover {
    background: #d63031;
    cursor: pointer;
}


#screen-imgs img:hover {
    cursor: pointer;
}


.img-not-selected {
    padding: 30px 0px 30px 13px;
    border: 1px dashed rgba(63, 63, 64, 0.89);
}

.screen_div {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;

}

@media screen and (max-width: 400px) {
    #screen_div {
        width: 125px;
        height: 125px;
    }
}


.screen_hover:hover {
    border: 1px red solid;
}

.screen_hover:hover {
    border: 1px red solid;
}

.screen_div i {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 6px;
    color: #ff5030;
}


.screen_div:hover i {
    color: #ff5030 !important;
}

.screen_div div {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    background: rgba(60, 60, 61, 0.62)
}

#final_step > span {
    color: #303030;
    font-size: 16px;
}
#success-newpage > a {
    background: rgba(203, 201, 202, 0.54);
    color: #3673ff;
    padding: 8px 8px;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    vertical-align: center;
}
#success-newpage > span {
    background: #03b01c;
    color: white;
    padding: 8px 2px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;

}



/*===========================================================*search*==============================================*/

.more_items {
    background: rgba(243, 122, 129, 0.31);
    border-radius: 25px;
    color: #e35969;
    font-weight: bold;
    padding: 6px 25px;


}
.ad-search {
    top: 0;
    left: 0;
}
.no-item {
  position: absolute;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -80px
}
/*}*/
/*===========================================================*footer*==============================================*/

.footer-ul>li{
    margin-top: 8px!important;
}

.footer-ul>li>a{
    color: #242424 !important;
    font-weight: 300;
}

.footer-ul>li>a:hover{
    color: #e72411 !important;
    font-weight: bold;
}

.min-width-download {
    min-width: 160px;
}



/*===========================================================*Index*==============================================*/



.about-container {
    background-image: url('../assets/banner_new.png');
    border-radius: 8px;
    background-size: cover;
    min-height: 330px;
}
.about-img {
    overflow: hidden;
    border-top-left-radius: 8px;
}



.networks-item{
    border-top: #e2e2e2 1px solid; border-right: #e2e2e2 1px solid;
    box-shadow:-2px 2px 6px 1px rgba(216, 203, 203, 0.55); border-radius: 6px
}
.networks-img {
    border: #cbc9c9 2px solid;
    border-radius: 50px;
    margin-top: -30px
}

.btn_new_inside {
    background: #F96B19;
    border-radius: 25px;
    padding: 10px 12px;
    color: white;
    word-spacing: 1px;
}
.btn_new_inside:hover {
    background: #E81D62;
     color: white;
}

.btn_watch {
    color: #4D61F2!important;
    border-radius: 25px;
    border: #4D61F2 1px solid;
    padding: 6px 18px;
}
.btn_watch:hover {
    color: white!important;
    background:#4D61F2 ;
}

@media screen and (max-width: 768px) {
    .img-static {
        height: 275px;
        width: 295px;
    }
}





.banner-div {
   background: rgba(255, 255, 255, 0);
    color: white;
}
.social-img {
    height: 115px;
}

@media screen and (max-width: 576px) {
    .social-img {
        height: 105px;
    }
}
.enter {
    background: rgba(234, 230, 234, 0.82);
    color: #363636;
    padding: 6px 8px;
    margin-bottom: 0.3px;
}


.enter:hover {
    background: rgba(234, 179, 197, 0.47);
    color: #eb1515;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}




@media screen and (max-width: 992px) {
    .max-container {
        max-width: 100%;
    }
}




.feauters > div {
    min-height: 250px;
}
.about-dark {
    left: 0;
    background: rgba(21,21,21,0.31);
}
.free-text{
    color: #68e72c;
    font-size: 22px;
    font-weight: bold;
}
.tabs-div {
    z-index:2;
    position: -webkit-sticky;
    top :31px;position: sticky
}
/*===========================================================*pay*==============================================*/

.success-pay-shadow {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(134,209,179,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(134,209,179,1);
    box-shadow: 0px 0px 6px 0px rgba(134,209,179,1);
    border-radius: 4px;
}

.failure-pay-shadow {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(226, 131, 128);
    -moz-box-shadow: 0px 0px 6px 0px rgb(209, 92, 70);
    box-shadow: 0px 0px 6px 0px rgb(226, 98, 85);
    border-radius: 4px;
}
.back-pay {
    background: rgba(112, 153, 242, 0.24);
    color: #4a91f2;
    border-radius: 25px;
    padding: 10px 15px;
}



/*===========================================================*dashbord*==============================================*/


.top-h1 {
    font-size: calc(16px + 0.5vw)!important;
}
.v-hidden {
    visibility: hidden;
}
.out {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.light-gray {
    background: #ededed;
    z-index: 999;
}



.my-red {
    color: #cf000f;
}

.my-green {
    color :#2ecc71 ;
}

/*.my-green {*/
/*    background-color: #2e3131;*/
/*}*/



.socials-ul > li {
    display: inline-block;
}
.socials-ul > li > a > i {
    font-size: 35px;
    padding: 5px 5px;
}

.socials-ul > li > a > i:hover {
    color: #0dd82b;
}

.no_message_div {
    position: absolute;
    width: 320px;
    height: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.no_message_div i {
    font-size: 65px;
}

.created_at {
    position: absolute;
    top: 3px;
    left: 5px;
}

.image-upload > input {
    display: none;
}
.drawable_rigth {
    right: 23px ;
    top: 30%;
}
.drawable_left {
    left: 23px ;
    top: 30%;
}

.drawable_rigth_support {
    right: 8px ;
    top: 30%;
}


.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}
.success-div {
    background:#1e824c ;
    color: white;
    border-radius: 4px;
    padding: 8px 4px;
    text-align: center;
}
.error-div {
    background:#cf000f ;
    color: white;
    border-radius: 4px;
    padding: 8px 4px;
    text-align: center;
}
#ul-support > i {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 60px;
    background: #fff;
    border-radius: 18px;
    margin: 0px 4px;
    box-shadow: 0px 0px 5px 1px rgb(196, 186, 196);
}
#ul-support > i:hover {
    background: #4dab57;
    color: #fff;
    cursor: pointer;
}

#ul-support > i:hover a {
    color: #fff;
}


#ul-support > i:nth-child(1) {
    color: #C13584;
}

#ul-support > i:nth-child(2) {
    color: deepskyblue;
}

#ul-support > i:nth-child(3) {
    color: #D44638;

}


#ul-support > i > a {

    font-size: 25px;
}

.page-card {
    /*box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);*/
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    min-height: 180px;
}

page-card-bottom
 .page-card:nth-child(1) {
     height: 135px;
 }
.sss {
    box-shadow: 0px -2px 6px 0px rgb(216, 205, 205);
    border-bottom-right-radius: 10px;
}

.page-card-bottom > a {
    background: #3d3d3d;
    border-left: #c9c9d1 1px solid;
    color: #ffffff;

}
.page-card-bottom > a:hover {
    background: #343434;

}

.page-card-comment {
    border-radius: 12px;
    box-shadow: 0px -2px 6px 0px rgb(216, 205, 205);
    border-bottom-right-radius: 10px;
    overflow: hidden;

}


/*==================================================update===========================================*/

.new-root {
    background: linear-gradient(-135deg, #870000, #29323c);
}

#sosials_center {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pic_row span {
    font-size: 18px;
}
.pic_row img {
    max-width: 100%;
    height: 300px
}

.rounded_container {
    width: 85%;
    height: 85%;
    background: #ffffff;
    border-radius: 10px;
    overflow: auto
}

.register-col {
    padding-left: 7%;
    padding-right: 7%;
}

.register input  {
    padding: 20px 5px;
}



/*	.socials_list_container {
        border-radius: 8px;
        width: 95%;
        background: #ffffff;

    }*/
.socials_item_inactive {
    border-radius: 25px;
    background: #e6e6e6;
    color: #999999;
    cursor: pointer;
    border: 1px solid #e6e6e6;


}

.socials_item_active {
    border-radius: 25px;
    background: #57b846;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.socials_item_inactive:hover {
    border-color: #57b846;
}

.btn_next_deactive {
    border-width: 0;
    background: #dee0e2;
    color: #4e555b;
    width: 75%;
    border-radius: 25px;

}

.btn_next_active {
    border-width: 0;
    background: #23b809;
    color: #fff;
    width: 75%;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.btn_next_active:hover {
    background: rgba(0, 120, 19, 0.77);
}


.wrap-input100 {
    position: relative;
    /*	width: 75%;*/
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out backwards;
    animation: anim-shadow 0.5s ease-in-out backwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left: 28px;
}

.new_error {

    color: #ff050c;
    /*width: 75%;*/

}

@media (max-width: 768px) {
    .pic_row {
        display: none !important;
    }

    .rounded_container {
        width: 96%;
        height: 96%;
    }

}

.sumbit_form input {
    font-size: 12px;
}



.sumbit_form button {
    color: #666666;
    padding: 6px 0px;
    background: transparent;
    border: 1px solid #717171;
    border-radius: 4px;
    outline: none;
}
.sumbit_form button:hover {
    outline: none;
    border: 1px solid black;
}
.category_selected {
    cursor: pointer;
}


.image-upload > input {
    display: none;
}
.image-upload > img:hover{
    cursor: pointer;
}

.page_info span {
    background: #ededed;
    color: #303030;
    border-radius: 2px;
    border: 1px #cacaca solid;
    padding: 12px 3px;
}

.nc {
    cursor: pointer;
}

.tags-ul {
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
    background: #ededed;
    max-height: 185px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.tags-ul li:hover {
    background-color: #7f8c8d;
    color: white;
    cursor: pointer;
}
.li-tag-selected {
    background-color: #6ab04c;
    color: white;
}

.tags-div span {
    background: #95a5a6;
    margin: 5px 3px;
    padding:4px 10px 4px 4px;
    color: white;
    border-radius: 12px;
    position: relative;
}
.tags-div span:hover {
    background: #d63031;
    cursor: pointer;
}


#screen-imgs img:hover {
    cursor: pointer;
}



.img-not-selected {
    padding:30px 0px 30px 13px ;
    border: 1px dashed rgba(63,63,64,0.89);
}

.screen_div {
    width: 100px ;
    height: 100px;
    position: relative;
    cursor: pointer;

}



.screen_hover:hover {
    border: 1px red solid;
}

.screen_hover:hover {
    border: 1px red solid;
}

.screen_div i {
    position: absolute ;
    font-size: 20px;
    top: 10px;
    left: 6px;
    color: #ff5030;
}


.screen_div:hover i{
    color: #ff5030!important;
}

.screen_div div  {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    background: rgba(60,60,61,0.62)
}

#final_step > span {
    color: #303030;
    font-size: 16px;
}

#success-newpage > a {
    background: rgba(203, 201, 202, 0.54);
    color: #3673ff;
    padding: 8px 8px;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    vertical-align: center;
}
#success-newpage > span {
    background: #03b01c;
    color: white;
    padding: 8px 2px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;

}


/*
/////////////////////////////////////////////////////////////specials\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.catname_special {
    background: #dddde0;
    color: #242424;
    border-radius: 15px;
    padding: 2px 12px;
}
.expire_special-right {
    padding: 12px 4px;
    border: #cbc8d0 1px solid;
    border-bottom-right-radius: 8px
}
.expire_special-left {
    padding: 12px 4px;
    border: #cbc8d0 1px solid;
    border-bottom-left-radius: 8px
}
@media(max-width: 428px) {
    .expire_special-right {
        border-bottom-right-radius: 0
    }
    .expire_special-left {
        border-bottom-right-radius: 8px
    }
}

.bg-expand-speccial {
    background: rgba(237, 237, 237, 0.3);
}
.special-header {
    height: 62px;
    background: #353b48;
    color: #ebeff2;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.expand-special {
    margin-left: 2px;
}

.special-header i {
    font-size: 28px;
    font-weight: 300;
}
.bg-word {
    background: rgba(203, 230, 205, 0.55);
    color: #1ebf18;

    border-radius: 15px;
    padding: 3px 15px;
}
/*
/////////////////////////////////////////////////////////////social\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.more_items_social {
    background: rgba(130, 220, 243, 0.31);
    border-radius: 25px;
    color: #16b1e3;
    font-weight: bold;
    padding: 6px 35px;
}
.copy {
    background: #3d3d3d;
    color: #fff;
    border-radius: 25px;
    padding: 2px 12px;
}


/*
/////////////////////////////////////////////////////////////reserver\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.gold_btn {
    background: rgba(242, 229, 22, 0.17);
    color: #e2b400;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}
.reserve_back {
    background: rgba(129, 242, 161, 0.15);
    color: #1dc61e;
    padding: 8px 15px;
    border-radius: 20px;

}
.pay-coin {
    color: #242424;
    background: #f5e51b;
    padding: 10px 10px;
    border-radius: 25px;
    min-width: 260px;

}
.pay-cash {
    color: #e3e3e3;
    background: #1dc61e;
    padding: 10px 10px;
    min-width: 260px;
    border-radius: 25px;
}

.footer-reserve {
    height: 30px;
}
.footer-reserve  button {
    height: 40px;
    margin-top: 30px;
}

.btn-cancel {
    background: #DE0B35;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 0px 20px;
}
.btn-cancel:hover {
    background: #bf0a2e;
}

.btn-reserve {
    background: #09A127;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 0px 20px;
}
.btn-reserve:hover {
    background: #088520;
}


.pay-coin:hover {
    background: #f4f776;
}
.pay-cash:hover {
    background: #22e323;
}
.word-input {
    border-radius: 25px;
    border: #bdc8ca 1px solid;
    background: #ffffff;
    min-width: 450px;
    padding: 10px 5px;
}
@media screen and (max-width: 500px) {
    .word-input {
        min-width: 295px;
    }
}

.word-input:focus {
    border: #2e9ef2 1px solid;
}

/*
/////////////////////////////////////////////////////////////coin\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.span_usercode {
    padding: 8px 15px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.12),
    1px 1px 2px rgba(0,0,0,0.24);
}
.span_copy {
    padding: 8px 10px;
    background:#e74c3c;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.07),
    1px 1px 2px rgba(0, 0, 0, 0.14);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}





/*
/////////////////////////////////////////////////////////////banner\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.banner-rules {
    list-style-type: circle!important;
}

.banner-rules li {
    display: block;
    margin-top: 10px;

}

.item_banner img {
    display: block;
    max-width: 100%;
    border-radius: 15px;

}
.item_banner > input {
    display: none;
}


@media screen and (min-width: 0px) {
    .item_banner img {
        height: 150px;
    }
}

@media screen and (min-width: 300px) {
    .item_banner img {
        height: 200px;
    }
}

@media screen and (min-width: 600px) {
    .item_banner img {
        height: 250px;
    }
}

@media screen and (min-width: 900px) {
    .item_banner img {
        height: 390px;
        border-radius: 7px;
    }
}



/*===========================================================*Boot*==============================================*/
/*.navbar-collapse.collapse.show {*/
/*    max-height: 360px;*/
/*    overflow-y: auto;*/
/*}*/

@media (max-width: 992px) {
    .dropdown-menu{
        max-height:260px;
        overflow-y:auto;
    }
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 15rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #eb7824;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    border-top-right-radius: 2px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}
.dropdown-menu-category {
    min-width: 500px;
}
@media screen and (max-width: 992px){
    .dropdown-menu {
        min-width: 100%;
        border-radius: 6px;
    }
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #dcdde1;
}

/*.dropdown-toggle:hover {*/
/*    box-shadow: 0px  0px 1px 1px rgba(0,0,0,0.1);*/
/*    background: white;*/
/*}*/

.drop-down-active {
    color: #0EA960!important;
}

/*===========================================================*Common*==============================================*/



@keyframes shadow-pulse
{
    90% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
    }
}

.top-left {
    border-bottom-left-radius: 4px;


}
.bottom-right {
    border-bottom-right-radius: 4px;
}


/*===========================================================UseFulls=======================================================================*/
.pointer {
    cursor: pointer!important;
}
.my-margin {
    margin-left: -5px;
    margin-right: -5px;
}
.norma-line-height {
    line-height: normal;
}
.register-position {
    position: absolute;
    left: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.border-none {
    border: none!important;
}

.min-height-70 {
    min-height: 70vh;
}

body.modal-open .min-height-70{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

/*===========================================================Colors=======================================================================*/


.text-green {
    color: #2ebf50;
}
.text-gold {
   color: #aaaa00;
}

.my-black-color {
    color: #242424!important;
}
.semi-black-color {
    color: #767676;
}


.insta-color {
    color: #bc2a8d;
}
.telegram-color {
    color: #0088cc;
}

.gmail-color {
    color: #d44638;
}

.star-color {
    color: #ffb822 !important;
}
.no-item-color {
    color: #c0c0c0;
}

.pay-color {
    color: rgb(147, 146, 146) !important;
}
.text-wating {
    color: #38bce2;
}
.text-blue {
    color: #0caae2;
}
.brand-color {
    color: #eb2f2a;
}
.special-color {
    color: #eb2f2a;
    background: #fff!important;
}

.navigation_color {
    color: #b71540 ;
}




/*===========================================================Fonts-Sizes=======================================================================*/

.text-light-font {
    font-weight: 300;
}
.text-regular {
    font-weight: normal;
}
.text-medium {
    font-weight: 500;
}
.text-bold {
    font-weight: bold;
}
.text-black {
    font-weight: 900;
}
.brand-textsize {
    font-size: calc(18px + 0.5vw)!important;
}
.des-textisze {
    font-size: 13px;
    color: #242424;
}
.rate-font {
    font-size: 24px;
    font-weight: bold;
}
.font-size-13 {
    font-size: 13px;
}


/*===========================================================header_sizes=======================================================================*/
.my-h1 {
    font-weight:bold;
    font-size: calc(15px + 0.45vw)!important;
}

.main-h1 {
    font-weight: bold;
    font-size: calc(16px + 0.30vw)!important;
    color: #303030;
    border-radius: 6px;
    padding: 7px 8px;

}
.modal-content-radius {
    border-radius: 20px;
}



.myh1 {
    font-size: calc(14px + 0.62vw)!important;

}

.myh2 {
    font-size: calc(14px + 0.55vw)!important;
}

.myh3 {
    font-size: calc(15px + 0.48vw)!important;
}

.myh4 {
    font-size: calc(15px + 0.35vw)!important;
}

.font-size-14{
    font-size: 14px!important;
}
.font-size-24{
    font-size: 24px!important;
}


.index-h1 {
    font-weight:bold;
    font-size: calc(17px + 0.79vw)!important;
}

/*===========================================================back-grounds=======================================================================*/
.my_card {
    box-shadow: 0 6px 8px 1px rgba(34,0,51,.04),
    0 3px 6px 1px rgba(7,48,114,.12),
    0 3px 5px -4px rgba(14,13,26,.12);




}

.bg-main-gray {
    background: #F7F9FD
}





.bg-hr {
    background: rgba(86, 86, 86, 0.25);
}

.bg-noitem {
    background: rgb(240, 240, 243);
}

.my-gray {
    background: #e7e7f1;
}

.green_download {
    background: #8DAA22!important;
}

.des-back {
    background: rgba(227, 225, 233, 0.42);
}


.brand-background {
    background: #ff3f34;
}

.bg_new_page{
    padding:4px 12px;
    border-radius: 25px;
    border: #F2634D 1px solid;
    color: #F96B19!important;
    font-weight: 500;
    font-size: 16px;
    background: white;
    animation: shadow-pulse 5s infinite;
}
.bg_new_page:hover {
    background: #F2634D;
    color: white!important;
}

.bg-banner {
    background: #1e90ff;
    padding:7px 30px;
    border-radius: 25px;
    color: white!important;
}
.bg-save {
    background: #2ebf50;
    padding:7px 30px;
    border-radius: 25px;
    color: white!important;
}

.bg-save-disable {
    background: #d5d8da;
    padding:7px 30px;
    border-radius: 25px;
    color: #807f7c !important;
}

/*===========================================================border=======================================================================*/

.dashed-border {
    border: #b9b9b9 1px dashed;
    background: #ededed;
}
.feauters-border {
    border-radius: 16px;
}


/*===========================================================back-grounds=======================================================================*/
.jst-hours {
    display: inline-block;
}
.jst-minutes {
    display: inline-block;
}
.jst-seconds{
    display: inline-block;
}
/*===========================================================zIndex=======================================================================*/
.z-inde-2 {
    z-index: 2;
}

.myltr {
    direction: ltr;
}
.modal-backdrop.show {
    opacity: 0.6;
}

/*===========================================================owl.craousal=======================================================================*/


.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; }
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    padding-top: 2px;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
    display: block;
    width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
.owl-carousel.owl-loaded {
    display: block; }
.owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
.owl-carousel.owl-hidden {
    opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
.owl-carousel.owl-rtl {
    direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
    display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
    z-index: 0; }

.owl-carousel .owl-animated-out {
    z-index: 1; }

.owl-carousel .fadeOut {
    animation-name: fadeOut; }

@keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
    /**
              This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
              calculation of the height of the owl-item that breaks page layouts
           */ }
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }

/*===========================================================owl.theme.default=======================================================================*/

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none; }
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px; }

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791; }





/*===========================================================simple-lightbox=======================================================================*/

/*!
	By André Rinas, www.andrerinas.de
	Documentation, www.simplelightbox.de
	Available for use under the MIT License
	Version 2.1.1
*/
body.hidden-scroll {
    overflow: hidden
}

.sl-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .7;
    display: none;
    z-index: 1035
}

.sl-wrapper {
    z-index: 1040
}

.sl-wrapper * {
    box-sizing: border-box
}

.sl-wrapper button {
    border: 0 none;
    background: transparent;
    font-size: 28px;
    padding: 0;
    cursor: pointer
}

.sl-wrapper button:hover {
    opacity: 0.7
}

.sl-wrapper .sl-close {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10060;
    margin-top: -14px;
    margin-right: -14px;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-family: Arial, Baskerville, monospace;
    color: #000;
    font-size: 3rem
}

.sl-wrapper .sl-close:focus {
    outline: none
}

.sl-wrapper .sl-counter {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1060;
    color: #000;
    font-size: 1rem
}

.sl-wrapper .sl-navigation {
    width: 100%;
    display: none
}

.sl-wrapper .sl-navigation button {
    position: fixed;
    top: 50%;
    margin-top: -22px;
    height: 44px;
    width: 22px;
    line-height: 44px;
    text-align: center;
    display: block;
    z-index: 10060;
    font-family: Arial, Baskerville, monospace;
    color: #000
}

.sl-wrapper .sl-navigation button.sl-next {
    right: 5px;
    font-size: 2rem
}

.sl-wrapper .sl-navigation button.sl-prev {
    left: 5px;
    font-size: 2rem
}

.sl-wrapper .sl-navigation button:focus {
    outline: none
}

@media (min-width: 35.5em) {
    .sl-wrapper .sl-navigation button {
        width: 44px
    }

    .sl-wrapper .sl-navigation button.sl-next {
        right: 10px;
        font-size: 3rem
    }

    .sl-wrapper .sl-navigation button.sl-prev {
        left: 10px;
        font-size: 3rem
    }
}

@media (min-width: 50em) {
    .sl-wrapper .sl-navigation button {
        width: 44px
    }

    .sl-wrapper .sl-navigation button.sl-next {
        right: 20px;
        font-size: 3rem
    }

    .sl-wrapper .sl-navigation button.sl-prev {
        left: 20px;
        font-size: 3rem
    }
}

.sl-wrapper.sl-dir-rtl .sl-navigation {
    direction: ltr
}

.sl-wrapper .sl-image {
    position: fixed;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 10000
}

.sl-wrapper .sl-image img {
    margin: 0;
    padding: 0;
    display: block;
    border: 0 none;
    width: 100%;
    height: auto
}

@media (min-width: 35.5em) {
    .sl-wrapper .sl-image img {
        border: 0 none
    }
}

@media (min-width: 50em) {
    .sl-wrapper .sl-image img {
        border: 0 none
    }
}

.sl-wrapper .sl-image iframe {
    background: #000;
    border: 0 none
}

@media (min-width: 35.5em) {
    .sl-wrapper .sl-image iframe {
        border: 0 none
    }
}

@media (min-width: 50em) {
    .sl-wrapper .sl-image iframe {
        border: 0 none
    }
}

.sl-wrapper .sl-image .sl-caption {
    display: none;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.sl-wrapper .sl-image .sl-caption.pos-top {
    bottom: auto;
    top: 0
}

.sl-wrapper .sl-image .sl-caption.pos-outside {
    bottom: auto
}

.sl-wrapper .sl-image .sl-download {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #000;
    z-index: 1060
}

.sl-spinner {
    display: none;
    border: 5px solid #333;
    border-radius: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 1007;
    -webkit-animation: pulsate 1s ease-out infinite;
    -moz-animation: pulsate 1s ease-out infinite;
    -ms-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite
}

.sl-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

.sl-transition {
    transition: -moz-transform ease 200ms;
    transition: -ms-transform ease 200ms;
    transition: -o-transform ease 200ms;
    transition: -webkit-transform ease 200ms;
    transition: transform ease 200ms
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

@-moz-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

@-o-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

@-ms-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2);
        opacity: 0
    }


}

.thumbnail {
    position: relative;
    width: 600px;
    height: 200px;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}




